<%= render 'header' %>
<section>
  <% if user_signed_in? %>
    <% if current_user.restaurant? %>
      <%= render 'restaurant' %>
    <% elsif current_user.customer? %>
      <%= render 'customer' %>
    <% else %>
      <%= render 'admin' %>
    <% end %>
  <% else %>
    <%= render 'visitor' %>
  <% end %>
</section>
