<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant on Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"/>
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
    <link href="https://unpkg.com/sanitize.css/typography.css" rel="stylesheet"/>
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div class="notify notice">
        <p><%= notice %></p>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      </div>
    <% end %>
    <% if alert %>
      <div class="notify alert">
        <p class=""><%= alert %></p>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
